.Person {
    width: 60%;
    margin: 15px auto;
    border: 1px solid rgb(66, 85, 170);
    box-shadow: 0 2px 3px #ccc;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.PersonText {
    cursor: pointer;
}

 .usernameInput { 
    font-size:16px; 
    border-width:2px; 
    padding:5px; 
    text-align:center; 
    border-color:rgb(66, 85, 170); 
    border-style:double; 
    text-shadow:0px 0px 0px rgb(66, 85, 170);  } 

 .usernameInput:focus { 
     outline:none; 
    } 